.passCard{
  .form-control:disabled{
    background-color: transparent;
    opacity: 1;
    border: 0;
    font-weight: bold;
  }

}

.checkInstatus{
  width:10px;
  height:10px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  left:-5px;
  top:12px
}

// .fncss{
//   border: transparent;
//   font-weight: bold;
// }



.form-group{
  margin-bottom: 1rem;
  position:relative;
}
